body { padding:0px; margin:0px; }
a,a:visited { color:#0F47AC; text-decoration: none; }
a:hover	{ color:#ce6c23; text-decoration: underline; }

.searchBar {cursor:default; visibility:hidden; margin:3px 50px; }

.tabs  {margin: 0; background: rgb(255, 181, 132); padding: 5px 50px 29px 50px;}
.tabs li{
	float: left; position: relative;
	list-style-type: none;
}
.tabs a {
	padding: 5px 30px; display: block; 
	color: #000;	background: #ccc;
	text-decoration: none;
	border-radius: 15px 15px 0 0;
}
.tabs .home a	{color: #fff;	background: #999;}
.tabs .N1 a	{color: #00c;	background: #99c;}
.tabs .N4 a	{color: #c33;	background: #c99;}
.tabs .active a	{color: #313;	background: #ccc;}


.navigation { padding: 10px 40px; background: rgb(81, 81, 81); box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2); }
.navigation li { border-left: 5px solid #d00; list-style-type: none; padding: 10px 50px 0px 15px; float: left; }
.navigation li h2 { font: bold 28px "DFKai-SB"; color: #fff; margin-bottom: 5px; line-height: 16px; }
.navigation li p{ font-size: 12px; color: #B3571B; }

.loading { position:absolute; color:#505050; font-size:15px; margin-left:10px; margin-top:5px; }

.com_choice { display:none; position:absolute; width:500px; height:50px; top:10px; left:100px; }

.divStayTopLeft {
    position:absolute; left:1px; top:1px; width:10px; padding:5px 0px 0px 5px;
    font-size:1em; background:#cccccc; color:#F0FFF0; border-right:1px dashed #cccccc;
}